/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.button-view{
    border-radius: 15%;
    background: #1e292e;
    padding: .5em 1em;
    margin-right : 1em;
    color: #fff;
    

}
    .button-view:hover {
        background: #808080;
        text-decoration: none;
       
    }

    
 
#cover {
     background-color: #fff;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    
    margin-top: -10px;
}

#cover-caption {
    width: 60%;
    position: relative;
    z-index: 1;
    display: flex;
    margin: 0 auto;
    
 
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
  
}
.card {
    width: 18rem;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem
}
.arrow {
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.welcome-users{
    background-color: #f7f6f6
}
.welcome{
    background-color: #464343;
    height: 100px;
    width: 70%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 50px auto;
    border-radius: 10px;
    color: aliceblue;
    
}
.h2-line{
    text-align: center;
}

.welcome-button {
   
    text-align: center;
    margin: 50px auto;
    display:  flex;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: #c47f1f;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
    border-style: none;
    text-decoration: none;
}
.a {
    font-family: 'Ubuntu', georgia;
    text-align: center;
    display: flex;
    width: 297px;
    height: 61px;
    border-radius: 35px;
    box-sizing: border-box;
    font-size: 15px;
    padding: 15px 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: arial;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin: 100px auto;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.54) inset, 0 -2px 1px rgba(0, 0, 0, 0.31) inset;
    background: #ffbf00;
    background: -moz-linear-gradient(top, #ffbf00 0%, #ff9700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbf00), color-stop(100%,#ff9700));
    background: -webkit-linear-gradient(top, #ffbf00 0%,#ff9700 100%);
    background: -o-linear-gradient(top, #ffbf00 0%,#ff9700 100%);
    background: linear-gradient(to bottom, #ffbf00 0%,#ff9700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#ff9700',GradientType=0 );
}

    .a:after {
        content: '';
        display: block;
        background: #DFD3B9;
        border-radius: 37px;
        width: 307px;
        height: 72px;
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: -1;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(255, 255, 255, 0.59) inset;
    }

    .a:hover {
        background: #ffdc00;
        background: -moz-linear-gradient(top, #ffdc00 0%, #ffa700 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc00), color-stop(100%,#ffa700));
        background: -webkit-linear-gradient(top, #ffdc00 0%,#ffa700 100%);
        background: -o-linear-gradient(top, #ffdc00 0%,#ffa700 100%);
        background: -ms-linear-gradient(top, #ffdc00 0%,#ffa700 100%);
        background: linear-gradient(to bottom, #ffdc00 0%,#ffa700 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc00', endColorstr='#ffa700',GradientType=0 );
    }

    .a:active {
        padding-top: 10px;
        background: #ff9100;
        background: -moz-linear-gradient(top, #ff9100 0%, #ffb300 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9100), color-stop(100%,#ffb300));
        background: -webkit-linear-gradient(top, #ff9100 0%,#ffb300 100%);
        background: -o-linear-gradient(top, #ff9100 0%,#ffb300 100%);
        background: -ms-linear-gradient(top, #ff9100 0%,#ffb300 100%);
        background: linear-gradient(to bottom, #ff9100 0%,#ffb300 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#ffb300',GradientType=0 );
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.32) inset, 0 -1px 0px white inset;
    }